<div *ngIf="cartProducts.length === 0" class="empty-cart">
  <h2 class="empty-cart__message">
    Your cart is currently empty, go to the products section to choose the one
    you want to buy
  </h2>
  <div class="align-center">
    <lucide-icon
      name="shopping-bag"
      size="120"
      class="empty-cart__icon"
    ></lucide-icon>
  </div>
</div>
<div class="flex-row">
  <section class="container-cards" *ngIf="cartProducts.length !== 0">
    <div class="filter-inputs">
      <div class="filter-inputs__group">
        <label for="searchTerm" class="filter-inputs__label">Search:</label>
        <input
          id="searchTerm"
          type="text"
          [(ngModel)]="searchTerm"
          placeholder="Category, Brand or Product Name"
          (input)="updateCart()"
          class="filter-inputs__search"
        />
      </div>
    <app-pagination-controls
    [rowsPerPageOptions]="[5, 10]"
    [selectedRowsPerPage]="size"
    (rowsPerPageChange)="onRowsPerPageChange($event)"
  ></app-pagination-controls>
      <button (click)="toggleSortOrder()" class="filter-inputs__sort-button">
        Sort by Name
        <lucide-icon
          [name]="isAscending ? 'arrow-down-a-z' : 'arrow-up-a-z'"
          class="filter-inputs__sort-icon"
          size="16"
        ></lucide-icon>
      </button>
    </div>
    <div class="container-card">
      <div *ngIf="filteredProducts.length === 0" class="no-results">
        <p>No products match your search criteria.</p>
      </div>
      <div *ngFor="let product of filteredProducts" class="card">
        <div class="card__left">
          <div class="card__image-wrapper">
            <div class="card__image skeleton-image"></div>
          </div>
        </div>
        <div class="card__right">
          <div class="card__product-content">
            <h2 class="card__product-title">{{ product.productName }}</h2>
            <p class="">Categories:</p>
            <div class="card__categories">
              <div
                class="tag"
                *ngFor="let category of product.categories; let isLast = last"
              >
                {{ category.categoryName }}
              </div>
            </div>

            <p class="card__brand">Brand: {{ product.brand.brandName }}</p>
            <div class="card__quantities">
              <p class="card__cart-quantity">
                Quantity in Cart: {{ product.cartQuantity }}
              </p>
              <p class="card__stock-quantity">
                In Stock: {{ product.productQuantity }}
              </p>
            </div>
            <p *ngIf="product.productQuantity === 0 && product.nextSupplyDate">
              Next supply date: {{ product.nextSupplyDate }}
            </p>
            <p class="card__subtotal">
              Subtotal: {{ product.subtotal | currency }}
            </p>
          </div>
          <div class="card__actions">
            <div class="card__price-wrapper">
              <p class="card__price">{{ product.productPrice | currency }}</p>
            </div>
            <app-button
              ngClass="button button--secondary"
              (click)="removeFromCart(product.productId)"
              (keydown)="onKeyDownButton($event)"
              >Remove</app-button
            >
          </div>
        </div>
      </div>
    </div>
    <app-pagination
      *ngIf="totalPages > 1"
      [totalPages]="totalPages"
      [currentPage]="currentPage"
      (pageChange)="changePage($event)"
    ></app-pagination>
  </section>
  <div *ngIf="filteredProducts.length > 0" class="cart-total">
    <p class="cart-total__last-update" *ngIf="latestUpdate">
      Last updated: {{ latestUpdate }}
    </p>
    <p class="cart-total__amount">
      Total: <span class=""> {{ total | currency }}</span>
    </p>
  </div>
</div>
