<table class="dynamic-table">
  <thead>
    <tr>
      <app-table-header
        *ngFor="let header of headers"
        [header]="header"
        (sort)="sort($event)"
      ></app-table-header>
    </tr>
  </thead>
  <tbody class="dynamic-table__body">
    <app-table-row
      *ngFor="let category of categories"
      [row]="category"
    ></app-table-row>
  </tbody>
</table>

<div class="pagination">
  <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 0">
    Previous
  </button>
  <span>Page {{ currentPage + 1 }} of {{ totalPages }}</span>
  <button
    (click)="changePage(currentPage + 1)"
    [disabled]="currentPage + 1 >= totalPages"
  >
    Next
  </button>
</div>
