<div class="input-container">
  <label *ngIf="label" [for]="inputId" class="input-label poppins-regular">{{ label }}</label>
  <div class="input-wrapper">
    <input
      [id]="inputId"
      [value]="value"
      (input)="onInput($event)"
      [disabled]="disabled"
      class="input poppins-regular"
      [type]="type"
      [placeholder]="placeholder"
      [ngClass]="{'input--error': hasError}"
    />
  </div>
  <div class="error-message poppins-regular" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>
</div>