<div class="container">
  <div class="flex-end-container">
    <app-button (click)="openModal()" (keydown)="onKeyDownButton($event)"
      >Add Category</app-button
    >
  </div>

  <app-modal [isVisible]="isModalVisible" (close)="closeModal()">
    <h2 class="mb-2rem">Create Category</h2>
    <form
      [formGroup]="createCategoryForm"
      (ngSubmit)="createCategory()"
      class="form"
    >
      <div class="container-inputs">
        <app-input-with-error
          formControlName="categoryName"
          [errorMessage]="categoryNameError"
          [control]="categoryName"
          placeholder="Category Name"
        ></app-input-with-error>

        <app-text-area-with-error
          formControlName="categoryDescription"
          [errorMessage]="categoryDescriptionError"
          [control]="categoryDescription"
          placeholder="Category Description"
        ></app-text-area-with-error>
      </div>

      <div class="flex-center">
        <app-button [disabled]="createCategoryForm.invalid"
          >Create Category</app-button
        >
      </div>
    </form>
  </app-modal>

  <app-data-table
    [data]="categories"
    [columns]="tableColumns"
    [totalPages]="totalPages"
    [currentPage]="currentPage"
    [isAscending]="isAscending"
    (pageChange)="changePage($event)"
    (sortChange)="onSortChange($event)"
    (rowsPerPageChange)="onRowsPerPageChange($event)"
  ></app-data-table>
</div>
