<div class="table-container">
  <table class="table">
    <thead>
      <tr class="table__header">
        <th *ngFor="let column of columns" class="table__cell">
          {{ column.label }}
          <button *ngIf="column.sortable" (click)="onSortChange(column.key)">
            <lucide-icon
              [name]="
                currentSort === column.key && isAscending
                  ? 'arrow-down-a-z'
                  : 'arrow-up-a-z'
              "
              size="16"
            ></lucide-icon>
          </button>
        </th>
        <th *ngIf="canShowActions() || canShowAddToCart()" class="table__cell">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table__row" *ngFor="let row of data">
        <td class="table__cell" *ngFor="let column of columns">
          <span *ngIf="column.key === 'productPrice'; else defaultContent">
            {{ row[column.key] | currency }}
          </span>
          <ng-template #defaultContent>
            {{ row[column.key] }}
          </ng-template>
        </td>
        <td *ngIf="canShowActions()" class="table__cell">
          <button class="button">
            <lucide-icon
              name="package-plus"
              class="action-button"
              (click)="onIncrementClick(row)"
            ></lucide-icon>
            <div class="tool-tip" role="tooltip">Add Supply</div>
          </button>
        </td>
        <td *ngIf="canShowAddToCart()" class="table__cell">
          <button class="button">
            <lucide-icon
              name="shopping-basket"
              class="action-button"
              (click)="onAddToCartClick(row)"
            ></lucide-icon>
            <div class="tool-tip" role="tooltip">Add to Cart</div>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="pagination-table__info">
  <label for="rowsPerPage">Show by</label>
  <select id="rowsPerPage" (change)="onRowsPerPageChange($event)">
    <option *ngFor="let size of [5, 10]" [value]="size">{{ size }}</option>
  </select>
</div>