$purple: #9d3fe7;
$gradient: linear-gradient(159.13deg, #9d3fe7 -24.13%, #602093 132.21%);

$black: #1a141f;
$hint-text: #4b3a5a;
$border: #aba7af;
$disabled: #d4d2d5;
$spacer: #d9d1e0;
$spacer-light: #e5e0eb;
$bg-light-grey: #f5f3f7;
$white: #ffffff;

$error: #d51a52;
$attention: #ff9500;
$approval: #00b998;
$link: #0f0bab;

$phone: 480px;
$tablet: 768px;
$desktop: 1024px;
