<div class="container">
  <h1 class="principal-title poppins-regular">
    Crea una nueva <span class="principal-title__highlight">Categoría!</span>
  </h1>
  <form
    [formGroup]="createCategoryForm"
    (ngSubmit)="createCategory()"
    class="form"
  >
    <div class="container-inputs">
      <app-input-with-error
        formControlName="categoryName"
        [errorMessage]="categoryNameError"
      ></app-input-with-error>

      <app-text-area-with-error
        formControlName="categoryDescription"
        [errorMessage]="categoryDescriptionError"
      ></app-text-area-with-error>
    </div>

    <app-button>Create Category</app-button>
  </form>
</div>
