<aside>
    <div class="sidebar">
      <header class="sidebar__header">
        <h2 class="sidebar__header-title">Dashboard</h2>
      </header>
      <nav class="sidebar__navigation">
        <ul class="sidebar__navigation-list">
          <li class="sidebar__navigation-item">
            <a routerLink="/dashboard/home" routerLinkActive="active">Home</a>
          </li>
          <li class="sidebar__navigation-item">
            <a routerLink="/dashboard/categories" routerLinkActive="active">Categories</a>
          </li>
          <li class="sidebar__navigation-item">
            <a routerLink="/dashboard/brands" routerLinkActive="active">Brands</a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>