<header class="header">
  <div class="header__logo-container">
    <app-logo></app-logo>
  </div>

 <div class="align-center header__right-content">
  <button class="shopping-cart-icon" *appRole="'ROLE_CLIENTE'">
    <lucide-icon name="shopping-cart"></lucide-icon>
  </button>

  <button class="logout-container" aria-label="Logout" (click)="logout()">
    Logout
    <lucide-icon name="log-out" size="14"></lucide-icon>
  </button>

  <div class="header__nav">
    <app-hamburger-button></app-hamburger-button>
  </div>
 </div>
</header>
