@use "styles" as *;

.header {
  padding: 2rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  &__nav{
    
    @include desktop{
      display: none;
      visibility: hidden;
    }
  }

  &__right-content{
    gap: 1.5rem;
  }
}

.logout-container{
  display: flex;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.25rem;

  &:hover{
    color: $purple;
    background-color: $bg-light-grey;
  }
}

.shopping-cart-icon{
  padding: 0.25rem;
  &:hover{
    color: $purple;
    cursor: pointer;
    background-color: $bg-light-grey;
    border-radius: 100%;
  }
}