<footer class="footer">
  <div class="footer__content">
    <app-logo customClass="logo--white"></app-logo>
    <div class="footer__container-nav">
    </div>
    <div class="footer__container-right">
      <a href="tel:+573016693045" class="footer__link footer__link--phone"
        >+57 314 273 4677</a
      >
      <a
        href="mailto:emazon&#64;emazom.com"
        class="footer__link footer__link--email"
        >emazon&#64;emazom.com</a
      >
    </div>
  </div>
  <app-divider></app-divider>
  <div class="footer__bottom">
    <p class="poppins-light text-center">
      &copy; 2024 Emazon. All rigths reserved
    </p>
  </div>
</footer>
