@use "styles" as *;

.input-with-label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;

  &__label {
    font-size: 1.4rem;
    color: $black;
    font-weight: 600;
  }
}